OLLAMA_HOST=http://ollama:11434
OLLAMA_MODEL=qwen2.5vl:3b
ANTHROPIC_API_KEY=
USE_ANTHROPIC=true
ANTHROPIC_MODEL=claude-sonnet-4-6
RECIPE_ICLOUD_DIR="~/Library/Mobile Documents/com~apple~CloudDocs/Recipes"
RECIPE_CACHE_DISABLED=false